{% extends "index.html" %}
{% block title %}Competitive Analysis{% endblock %}

{% block navinfo %}
   <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="concept">Concept</a></li>
        <li  class="active"><a href="comp">Competitive Analysis</a></li>
        <li><a href="motivation">Motivation</a></li>
        <li><a href="requirements">Requirements</a></li>
        <li><a href="components">Components</a></li>
      </ul>
   </div><!--/.nav-collapse -->
{% endblock %}

{% block content %}
<style>
    body {padding-top: 100px;}
</style>
<div class="bs-docs-header" id="content">
    <div class="container">
        <div class="jumbotron">

        </div>
    </div>
</div>
{% endblock %}